
.white {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}





@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
